:host {
  all: initial;
  contain: content;

  display: flex;
  padding: 0.25rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-width: 80%;
}

:host * {
  font-size: 1.5rem;
}

button {
  background-color: var(--wc-counter-button-bg-color, #eee);
  padding: 1.5rem;
  border-radius: var(--wc-counter-button-border-radius, 0.25em);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

/* ========== */
/* PROJECTION */
/* ========== */
::slotted(.title) {
  text-align: center;
  width: 100%;
}
